/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin-left: .75rem;
  padding-bottom: 1rem;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: var(--surface1);
  top: 0;
  bottom: 0;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 1rem 0 0 1rem;
  position: relative;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -12px;
  background-color: var(--bgColor);
  border: 4px solid var(--textHighlight);
  top: 50%;
  border-radius: 50%;
  z-index: 1;
}

/* The actual content */
.timeline-content {
  position: relative;
}

.card-timeline {
  padding: 0 1rem;
}

.timeline .card {
  border-radius: .5rem;
  background-color: var(--surface1);
}

.timeline .card h2 {
  margin: 0;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 576px) {
  .timeline-badge {
    position: relative;
    top: unset;
    right: unset;
    padding: 0;
    margin-bottom: 1rem;
  }
}

.case-title {
  padding-bottom: 1rem;
}

h1 {
  margin-bottom: 0;
}

section h2 {
  margin-top: 3rem;
  margin-bottom: 0;
}

section p {
  margin: 0;
}

main p {
  margin-top: .5rem;
  margin-bottom: 0;
}
